core/premium
.svn
.idea
.idea/workspace.xml
.DS_Store
.dynamic
*premium
*cache
.Trashes
*.sublime-project
*.sublime-workspace
*.bat

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

modules/**
node_modules
static/codex
vendor/modules
vendor/libraries
vendor/themes
