/**
 * Lists and stuff inside them
 *
 *
 */

ul {

}

ol {

}

ul.sublist {
  li {
    font-size: 13px;
    line-height: 26px;
  }
}

.wpp_setting_interface ul.wp-tab-panel > li,
.wpp_option_table .wp-tab-panel > ul > li {
  width: 32%;
  float: left;
}

.wpp_setting_interface ul.wp-tab-panel {
  height: auto !important;
  & > li {
    width: 30%;
    float: left;
    clear: none !important;
    input {
      vertical-align: middle !important;
      margin-right: 5px;
    }
  }
}



/* Dynamic Lists (perhaps replacing the old dynamic tables. Equivalent of #poststuff */
.wpp_side_load {

  /* Equivalent of #post-body */
  .wpp_side_load_content {
    margin-left: 200px;

    /* Equivalent of #postbox-container-2 (Fluid Width) */
    .wpp_tab_panel_wrapper {
        width: 100%;
        float: right;
    }

    /* Equivalent of #postbox-container-1 (Fixed Width) */
    .wpp_vertical_tabs_wrapper {
      float: left;
      margin-left: -200px;
      width: 200px;
      display: block;

      .wpp_vertical_tabs {

        > .wpp_side_tab {
          display: block;
          border-right: 1px solid #DBDBDB;

          a {
            div.wpp_input_wrapper {
              span {
                //line-height: 15px;
                display: block;
                max-width: 160px;
              }

            }

          }

          &.wpp_current {
            background-color: #EFEFEF;
            border-right: 1px solid #DBDBDB;
            border-top: 1px solid #DBDBDB;
            border-bottom: 1px solid #DBDBDB;
            border-left: 1px solid #DBDBDB;
          }

        }

        .wpp_group_item {
          background-color: #EFEFEF;
          border-right: none;
          border-top: 1px solid #DBDBDB;
          border-bottom: 1px solid #DBDBDB;
          border-left: 1px solid #DBDBDB;
          margin-bottom: 5px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          .wpp_ddm {
            float: right;
            margin-top: 9px;
            display: none;
          }
          &:hover {
            .wpp_ddm {
              display: block;
            }
          }
          &.ui-state-active {
            background-color: #fff;
          }
          &.ui-state-hover {
            background-color: #F9F5D1;
          }

          a {
            display: block;
            height: 36px;

            div {
              float: left;
              padding-left: 8px;
            }
          }
        }

      }

    }

  }

}

.wpp_tab_panel {
  display: block;
  border: 1px solid #DBDBDB;


  li.wpp_list_item {
    padding: 10px;
    display: block;
    border-bottom: 1px dotted #DBDBDB;
    line-height: 20px;

    &:nth-child(even) {
      background-color: #eee;
    }

    &:last-child {
      border-bottom: none;
    }

    /* Important to apply when item is being dragged */
    //background-color: #EBEBEB;

    /* Placeholder while being dragged */
    .wpp_placeholder {
      background-color: yellow;
    }

    .wpp_input_wrapper {
      //display: inline-block;
    }

    .wpp_row_actions {
      display: inline-block;
      float: right;
    }

    div.row {
      margin-bottom: 10px;
      span {
        vertical-align: bottom;
        font-weight: 400;
      }
      input[type=checkbox] {
        vertical-align: middle;
        margin: 0 5px;
      }
      .wpp_left {
        float: left;
        width: 50%;
        margin:0;
        padding:0;
      }
      .wpp_right {
        float: right;
        width: 49%;
        margin: 0;
        padding: 0;
      }
    }

    .wpp_collapsed {
      padding: 5px;
      background-color: whiteSmoke;
      border: 1px dotted #CFCFCF;
      textarea {
        width: 100%;
        min-height: 60px;
        padding: 5px;
      }
      div.row {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 5px;
        }
        & > * {
          vertical-align: middle;
        }
        label {
          margin: 0px 5px;
        }
        input[type=checkbox] {
        }
        input.wpp_slug {
          width: 200px;
          margin-right: 15px
        }
      }
    }

    .wpp_button {
      background-color: transparent;
      border-color: transparent;

      /* Reset default wide margin */
      .wpp_icon {
        margin-right: 2px;
      }

    }

    .wpp_admin_values, .wpp_search_values {
      text-align: left;
    }

  }

}
