@media screen and (min-width: 56.875em) {
	.property-template-default #content .entry-title, .property-template-default #content .entry-subtitle  {
		padding: 0 10%;
	}
	.property-template-default #primary.widget-area  {
		margin: 30px 8.3333%;
		padding-top: 30px;
		background: white;
	}
	.property-template-default #primary.widget-area .xoxo  {
		padding: 0 10% 10%;
	}
	.property-template-default #primary.widget-area .wpp_widget{
		list-style: none;
		margin-top: 20px;
	}
}

