#wpp_property_import_setup {

  #wpp_property_import_attribute_mapper {

    tbody {

      tr {

        td {
          vertical-align: top;

          &.matches-section {

            .toggle_advanced_settings {
              line-height: 30px;
            }

            .advanced-options {
              display: none;

              ul.matches {

                ul.list {

                }

              }

            }



          }

        }



      }

    }

  }

}