/**
 * New Styles starting with v2.3
 *
 */
.wpp_property_overview_shortcode {


  // These are very temporary. Attempting to make default view work as a grid.
  .wpp_property_view_result {

    div.property_div {

      max-width: 32%;
      background: #FFF;
      float: left;
      margin: 0 10px 20px 0;


      div.wpp_overview_right_column {
        margin-left: 0 !important;
      }

      div.wpp_overview_left_column {
        display: block;
        width: 100% !important;

        img {
          width: 100% !important;
          height: auto !important;
        }

      }

    }

  }


}