/*
	Theme-specific styles are introduced in WP-Property 1.08.
	In order to avoid breaking existing sites, not all TwentyTen theme elements are transfered here yet.

	Version: 0.6
 */
#content ul.wpp_agent_info_list,
#main .widget-area ul.wpp_agent_info_list {
  margin-left: 0;
}
.wpp_the_content .slider,
.wpp_the_content {
  margin-bottom: 15px;
}
.wpp_row_view div.property_div {
  padding: 1% 1% 10px;
}
.entry-content .wpp_sortable_dropdown {
  margin: 0;
}
.wpp_pagination_slider_wrapper .wpp_pagination_back,
.wpp_pagination_slider_wrapper .wpp_pagination_forward {
  background: none repeat scroll 0 0 #E4E4E4;
  border: 1px solid #919191;
  font-size: 0.8em;
}
.wpp_sorter_options .wpp_sortable_link.wpp_sorted_element {
  background: none repeat scroll 0 0 #F7F7F7;
  border: 1px solid #6D6D6D;
  color: #1C1711;
}
.wpp_sorter_options .wpp_sortable_link {
  font-size: .8em;
}
.wpp_ui .wpp_pagination_slider .ui-slider-handle {
  background-image: none;
}
div.sidebar_gallery_item .wpp_image_widget_caption {
  background: none repeat scroll 0 0 #F4F4F4;
  margin: 0 9px 10px 0;
  padding: 9px 6px 11px;
  position: relative;
  text-align: center;
  top: -13px;
}
.wpp_stats_group {
  display: block;
  font-size: 1.3em;
  padding-bottom: 15px;
  padding-left: 15px;
  color: #999999;
}
.wpp_property_stats dd {
  margin: 0 !important;
}
#property_stats.overview_stats dt,
.wpp_property_stats.overview_stats dt,
ul#property_stats.list li .attribute,
ul.wpp_property_stats.list li .attribute {
  font-weight: normal;
}
#primary.widget-area ul.wpp_search_elements .wpp_search_attribute_type_range_input input[type="text"] {
  width: 40px;
}
#primary.widget-area ul.wpp_search_elements .wpp_search_attribute_type_input input[type="text"] {
  width: 90px;
}
.widget-area .wpp_search_attribute_wrap {
  max-width: 110px;
  float: left;
}
#main .widget-area ul.wpp_search_elements {
  margin-top: 10px;
}
#main .widget-area .wpp_search_attribute_wrap .wpp_multi_checkbox {
  margin: 0;
  padding: 0;
}
#main .widget-area span.wpp_search_group_title {
  border-bottom: 1px solid #E1E1E1;
  display: block;
  font-weight: bold;
  margin-bottom: 13px;
}
#main .widget-area ul.wpp_search_group {
  margin: 0;
}
.widget-area .wpp_search_attribute_wrap .wpp_multi_checkbox input {
  float: left;
}
.widget-area .wpp_search_attribute_wrap .wpp_multi_checkbox label {
  float: none;
  width: auto;
}
.widget-area .wpp_search_properties_widget .wpp_search_elements .wpp_multi_checkbox li {
  margin-bottom: 2px;
}
.widget-area .wpp_search_properties_widget .wpp_search_elements li {
  overflow: auto;
  margin-bottom: 10px;
}
ul.wpp_overview_data {
  margin-left: 10px;
  margin-top: 5px;
}
div.wpp_google_maps_attribute_row_property_title {
  border-bottom: 0;
}
.entry-content dl.overview_stats dt {
  padding-left: 10px;
}
.wpp_featured_properties_shortcode li.wp-caption {
  margin-right: 5px;
}
#primary div.property_widget_block ul.wpp_widget_attribute_list {
  margin-left: 0;
}
.wpp_search_attribute_type_multi_checkbox .wpp_search_attribute_wrap {
  float: left;
}
.wpp_search_attribute_type_multi_checkbox .wpp_search_attribute_wrap ul li {
  display: block;
  float: none;
  margin: 0px;
}
#content .wpp_multi_checkbox li {
  background: none repeat scroll 0 0 transparent;
  display: inline;
  float: left;
  padding: 0;
}
#content .wpp_multi_checkbox li label {
  float: right;
  margin-left: 4px;
  margin-right: 8px;
  width: auto !important;
}
#content li.wpp_search_form_element {
  clear: both;
}
#content li.wpp_search_form_element.wpp_search_attribute_type_multi_checkbox .wpp_search_attribute_wrap {
  clear: both;
  display: block;
  height: 25px;
}
#content .wpp_shortcode_search ul label {
  width: 80px;
}
/* Real State Agents */
ul.wpp_agent_info_list li {
  list-style: none;
}
/* Supermap */
#content .wpp_supermap_wrapper .hide_filter,
#content .wpp_supermap_wrapper .map_filters,
#content .wpp_supermap_wrapper .show_more {
  width: 96%;
  border: 1px solid #DAE0FF;
}
#content .wpp_supermap_wrapper .show_more {
  color: #0066CC;
  font-size: 14px;
}
#content .wpp_supermap_wrapper .map_filters label {
  display: block;
}
#content .wpp_supermap_wrapper .map_filters input,
#content .wpp_supermap_wrapper .map_filters select {
  margin: 0 0 0 0;
  padding: 0;
}
#content .wpp_supermap_wrapper .map_filters input.search_b {
  margin: 10px;
}
#content .wpp_supermap_wrapper .map_filters ul {
  list-style: none;
  margin: 0 0 10px 10px;
}
#content .wpp_supermap_wrapper .map_filters ul li {
  margin: 0 0 10px 0;
}
#content .wpp_supermap_wrapper .map_filters .field_multi_checkbox label,
#content .wpp_supermap_wrapper .map_filters .field_checkbox label {
  float: left;
  margin-right: 6px;
}
#content .wpp_supermap_wrapper .map_filters .field_multi_checkbox ul label {
  float: none;
  display: inline;
}
#content .wpp_supermap_wrapper .map_filters .field_multi_checkbox ul {
  float: left;
  margin-bottom: 0;
}
#content .wpp_supermap_wrapper .map_filters .field_multi_checkbox ul li {
  display: block;
  float: none;
  margin: 0;
}
#content .wpp_supermap_wrapper .map_filters .class_wpp_supermap_input_field_min,
#content .wpp_supermap_wrapper .map_filters .class_wpp_supermap_input_field_max {
  width: 60px;
}
/* FEPS */
.wpp_feps_preview_thumb {
  max-width: 640px;
}
ul.feps_property_input_fields textarea,
ul.feps_property_input_fields input[type="text"],
ul.feps_user_input_fields input[type="text"],
ul.feps_user_input_fields input[type="password"] {
  width: 99%;
}
.wpp_feps_description_wrapper span.attribute_description_text {
  font-size: 0.7em;
}
ul.feps_user_input_fields li {
  list-style: none;
  margin-bottom: 10px;
}
ul.feps_user_input_fields li label {
  font-size: 1em;
  font-weight: bold;
}
ul.feps_property_input_fields label span.the_title {
  font-size: 1.3em;
}
form.wpp_feps_form ul.feps_property_input_fields .qq-upload-button {
  font-size: 0.8em;
}
ul.feps_property_input_fields select,
.wpp_feps_form input[type="password"] {
  background: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
}
ul.feps_property_input_fields li.wpp_feps_row_wrapper.wpp_checkbox input.wpp_checkbox {
  top: 0;
}
ul.feps_property_input_fields li.wpp_feps_row_wrapper {
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
ul.wpp_feps_subscription_plan_list li.wpp_feps_row_wrapper {
  margin-bottom: 0;
}
.wpp_feps_form input {
  margin: 0;
}
li.wpp_feps_row_wrapper.required span.the_title {
  background: url("../images/red-asterisk.jpg") no-repeat scroll right top transparent;
  padding-right: 15px;
}
input[type="text"].wpp_feps_input_error,
input[type="password"].wpp_feps_input_error,
select.wpp_feps_input_error {
  border-bottom: 1px solid #FF8989 !important;
}
input.wpp_checkbox.wpp_feps_input_error {
  box-shadow: 0px 1px 0px #FF8989;
  -moz-box-shadow: 0px 1px 0px #FF8989;
  -webkit-box-shadow: 0px 1px 0px #FF8989;
  -khtml-box-shadow: 0px 1px 0px #FF8989;
  -o-box-shadow: 0px 1px 0px #FF8989;
  -ms-box-shadow: 0px 1px 0px #FF8989;
}
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs {
  margin-left: 0;
}
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs li span {
  font-size: 14px !important;
}
#content .wpp_feps_subscription_plan_form li.wpp_feps_row_wrapper p {
  margin-bottom: 0;
}
.wpp_feps_sponsored_listing .wpi_checkout_wrapper ul {
  margin-left: 0;
}
.widget_myfepswidget h3 {
  margin-bottom: 10px;
}
#main ul .wpp_shortcode_feps_menu ul {
  margin-left: 0;
}
#main ul .wpp_shortcode_feps_menu li {
  margin-left: 0;
  list-style-position: inside;
}
.wpp_shortcode_feps_menu li.wpp_feps_filter {
  list-style-type: none;
}
/* END FEPS */
