.wpp-property-type,
.wpp-property-type > div {
  position: relative;
}
.wpp-property-type .select-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  margin-left: -1px;
  padding: 0;
  float: left;
}
.wpp-property-type .wpp-terms-input {
  margin: 0;
  padding: 5px 10px;
  float: left;
}
.wpp-property-type .wpp-terms-input:focus + a {
  border-color: #5b9dd9;
  border-left: 0;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}
.wpp-autocomplete {
  max-height: 150px;
  overflow-y: scroll;
}
.wpp-autocomplete .ui-menu-item {
  padding: 0px;
}
.wpp-autocomplete .ui-menu-item a {
  display: block;
  padding: 4px 10px;
}
.wpp-autocomplete .ui-menu-item a.ui-state-selected {
  background-color: #ddd;
  cursor: pointer;
}
