.wpp-property-type,
.wpp-property-type > div {
  position: relative;
}
.wpp-property-type .clearfix.term:before,
.wpp-property-type .clearfix.term:after {
  clear: both;
  content: "";
  display: block;
}
.wpp-property-type .select-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  margin-left: -1px;
  padding: 0;
  float: left;
  width: 2.2em;
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.wpp-property-type .select-combobox-toggle .ui-icon-triangle-1-s {
  left: 50%;
  margin-left: -8px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background-size: 8px 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTguMS4xLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDEyNS4zMDQgMTI1LjMwNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTI1LjMwNCAxMjUuMzA0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CjxnPgoJPGc+CgkJPHBvbHlnb24gcG9pbnRzPSI2Mi42NTIsMTAzLjg5NSAwLDIxLjQwOSAxMjUuMzA0LDIxLjQwOSAgICIgZmlsbD0iIzhjOGE4YyIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=);
}
.wpp-property-type .wpp-terms-input {
  margin: 0;
  padding: 5px 10px;
  float: left;
  width: auto;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-right: 0px;
}
.wpp-property-type .wpp-terms-input:focus + a {
  border-color: #5b9dd9;
  border-left: 0;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}
.wpp-autocomplete {
  max-height: 150px;
  overflow-y: scroll;
}
.wpp-autocomplete .ui-menu-item {
  padding: 0px;
}
.wpp-autocomplete .ui-menu-item a {
  display: block;
  padding: 4px 10px;
}
.wpp-autocomplete .ui-menu-item a.ui-state-selected {
  background-color: #ddd;
  cursor: pointer;
}
.ui-autocomplete {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  z-index: 10000;
  border: 1px solid #5b9dd9;
  -webkit-box-shadow: 0 1px 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 1px 2px rgba(30, 140, 190, 0.8);
  background-color: #fff;
}
.ui-autocomplete li {
  margin-bottom: 0;
  padding: 4px 10px;
  white-space: nowrap;
  text-align: left;
}
