.wpp_no_image {
  display: none;
}
/* Default Icons Begin  */
.wpp_attachment_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wpp_attachment_list .attachment_container.has_description .attachment_description {
  display: block;
  padding-left: 23px;
}
.property_stats .wpp_attachment_list .attachment_container.has_description .attachment_description {
  display: inline;
  padding: 0;
}
.wpp_attachment_list .wpp_attachment_icon.file-zip {
  background: url("images/file-zip.gif") left center no-repeat;
}
/* Default Icons End */
/* WP Touch Styles Begin */
body.idevice ul.wpp_overview_data li {
  list-style: none;
}
body.idevice .wpp_property_overview_shortcode {
  margin-top: 10px;
}
body.idevice ul.wpp_overview_data {
  padding-left: 10px;
}
body.idevice div.listing_container .building_title_wrapper {
  margin-top: 15px;
}
body.idevice .wpp_sidebar_listing,
body.idevice div.listing_container .building_title_wrapper,
body.idevice div.listing_container .entry-content {
  background-color: #FFFFFF;
  border: 1px solid #B1B1B1;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  position: relative;
  z-index: 0;
}
body.idevice div.listing_container .wpp_stats_group {
  border-bottom: 1px solid #D7D7D7;
  color: #484848;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
body.idevice div.listing_container h1.property-title {
  color: #222222;
  display: block;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 20px;
  margin: 0;
  padding: 0 0 2px;
  text-align: left;
}
body.idevice div.listing_container .entry-subtitle {
  color: #999999;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  text-align: left;
}
body.idevice #property_stats.overview_stats,
body.idevice #property_stats.overview_stats dt,
body.idevice #property_stats.overview_stats dd {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
}
body.idevice #property_stats.overview_stats dt {
  padding-left: 0;
  font-weight: normal;
}
body.idevice #property_stats.overview_stats dd {
  background: transparent;
  margin-left: 0;
  padding-left: 0;
}
body.idevice div.listing_container #property_stats {
  padding: 0;
  margin: 0 0 15px 0;
}
body.idevice .wpp_sidebar_listing ul,
body.idevice .wpp_sidebar_listing ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body.idevice .wpp_sidebar_listing .wpp_gallery_widget {
  float: none;
  overflow: auto;
}
body.idevice .wpp_sidebar_listing .sidebar_gallery_item {
  float: left;
}
/* WP Touch Styles End*/
/* FEPS Styles Begin */
/* FEPS Menu */
.wpp_feps_user_menu li,
.wpp_feps_user_menu h4 {
  margin-bottom: 10px;
}
.wpp_feps_property_info .title {
  font-weight: bold;
  color: #4D4D4D;
}
/* END FEPS Menu */
.wpp_feps_form .wpp_feps_input_wrapper.back_action {
  float: left;
}
.wpp_feps_form .wpp_feps_input_wrapper.submit_action {
  float: right;
}
/* SPONSORED LISTINGS TABS MENU */
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs li {
  display: inline;
  overflow: hidden;
  list-style-type: none;
  list-style-position: inside;
  cursor: default;
  margin-left: -10px;
}
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs li:first-child {
  margin-left: 0;
}
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs li:last-child span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs li:last-child span.wpp_feps_arrow {
  padding: 0;
  background: none;
}
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs li span.wpp_feps_arrow {
  height: 18px;
  line-height: 18px;
  padding: 3px 0 3px 18px;
  border: none;
  border-radius: 0;
  background: transparent url("../templates/images/arrows_right.png") 0 -291px no-repeat;
}
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs li span {
  padding: 3px 5px;
  color: grey;
  text-decoration: none;
  font: 1em "Trebuchet MS", Arial, sans-serif;
  background-color: #F7F7F7;
  border-width: 1px 1px 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs li span.wpp_feps_tab_value {
  -moz-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.15);
}
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs li.active span.wpp_feps_arrow {
  background: transparent url("../templates/images/arrows_right.png") 0 0 no-repeat;
}
.wpp_feps_sponsored_listing ul.wpp_feps_step_tabs li.active span {
  font-weight: bold;
  background-color: #6A8DA5;
  color: white;
}
/* END SPONSORED LISTINGS TABS MENU */
/* SUBSCRIPTION PLAN */
.wpp_feps_subscription_plan_form li.feps_plan_selected {
  background: #F7F7F7;
}
.wpp_feps_subscription_plan_form li.wpp_feps_row_wrapper {
  cursor: pointer;
  padding: 10px;
  margin: 0;
}
.wpp_feps_subscription_plan_form li.wpp_feps_row_wrapper .the_title {
  font-weight: bold;
}
.wpp_feps_subscription_plan_form li.wpp_feps_row_wrapper p {
  margin-bottom: 0;
}
.wpp_feps_subscription_plan_form .wpp_feps_subscription_plan_info li.images_limit.no_image_field {
  display: none;
}
.wpp_feps_form ul.wpp_feps_subscription_plan_info .description {
  color: #ADADAD;
  font-size: 12px;
}
.wpp_feps_form .wpp_feps_plan_options li {
  list-style-type: none;
}
/* END SUBSCRIPTION PLAN */
/* CHECKOUT */
ul.feps_property_input_fields .wpi_checkout_input_content label,
#content ul.feps_property_input_fields .wpi_checkout_input_content label {
  display: block;
  float: left;
  position: relative;
  top: 4px;
  width: 25%;
}
#content ul.feps_property_input_fields .wpi_checkout_input_content .controls input,
#content ul.feps_property_input_fields .wpi_checkout_input_content .controls select {
  width: 70%;
  border: 1px solid #CCCCCC;
}
ul.feps_property_input_fields .wpi_checkout_input_content .text-input,
ul.feps_property_input_fields .wpi_checkout_input_content select {
  margin: 3px 0;
  /* padding: 3px; */
  /* width: 230px; */
}
#content form.wpi_checkout.wpi_checkout_feps div.wpp_feps_label_wrapper label,
form.wpi_checkout.wpi_checkout_feps div.wpp_feps_label_wrapper label {
  float: none;
  position: relative;
  top: 0;
  width: auto;
}
.wpp_feps_form form.wpi_checkout .total_price {
  top: 0;
}
.wpp_feps_form.wpi_checkout_wrapper ul {
  margin-left: 0;
  margin-bottom: 0;
}
ul.feps_spc_details {
  background-color: #F7F7F7;
  border: 1px solid #D6D6D6;
  margin: 0 0 20px 0;
}
ul.submit_action_wrapper {
  margin-left: 0;
}
ul.feps_spc_details li.wpp_feps_row_wrapper {
  border-bottom: 1px solid #D6D6D6;
  margin-bottom: 0;
  list-style: none outside none;
  padding: 10px;
}
ul.feps_spc_details li.wpp_feps_row_wrapper:last-child {
  border-bottom: 0;
}
ul.feps_spc_details li.wpp_feps_row_wrapper .wpp_feps_label_wrapper {
  float: left;
  position: relative;
  width: 140px;
  padding-right: 10px;
  text-align: right;
}
ul.feps_spc_details li.wpp_feps_row_wrapper .wpp_feps_input_wrapper {
  clear: right;
  float: right;
  margin-bottom: 0;
  margin-left: -160px;
  position: relative;
  width: 100%;
}
ul.feps_spc_details li.wpp_feps_row_wrapper .wpp_feps_input_content {
  margin-left: 160px;
}
ul.feps_spc_details li.wpp_feps_row_wrapper .wpp_feps_input_content ul {
  margin: 0;
}
ul.feps_spc_details li.wpp_feps_row_wrapper .wpp_feps_input_content ul li {
  list-style: none outside none;
}
ul.feps_spc_details li.wpp_feps_row_wrapper .wpp_feps_label_wrapper label {
  font-weight: bold;
}
ul.feps_spc_details li.wpp_feps_row_wrapper .description {
  color: #A0A0A0;
}
.wpp_feps_checkout_wrapper {
  display: none;
}
.wpp_feps_message {
  display: none;
  border: 1px solid #D6D6D6;
  padding: 10px;
  margin-bottom: 20px;
  background: #FBFFD4;
}
.wpp_feps_message.error {
  border: 1px solid #B3003C;
  color: #B3003C;
  background: #FFEDED;
}
.submit_action_wrapper {
  position: relative;
}
.submit_action_wrapper .wpp_feps_action_button {
  float: left;
  position: relative;
  z-index: 999;
}
.submit_action_wrapper .pay_now .wpp_feps_action_button,
.submit_action_wrapper .pay_now .wpp_feps_action_button input {
  width: 200px;
}
.submit_action_wrapper .add_credits .wpp_feps_action_button,
.submit_action_wrapper .add_credits .wpp_feps_action_button input {
  width: 150px;
}
.submit_action_wrapper .wpp_feps_action_notification {
  clear: right;
  float: right;
  position: relative;
  width: 100%;
  z-index: 1;
}
.submit_action_wrapper .pay_now .wpp_feps_action_notification {
  margin-left: -210px;
}
.submit_action_wrapper .pay_now .wpp_feps_action_notification .wpp_feps_action_content {
  margin-left: 210px;
}
.submit_action_wrapper .add_credits .wpp_feps_action_notification {
  margin-left: -160px;
}
.submit_action_wrapper .add_credits .wpp_feps_action_notification .wpp_feps_action_content {
  margin-left: 160px;
}
/* END CHECKOUT */
form.wpp_feps_form label.error {
  display: block;
}
form.wpp_feps_form ul.wpp_search_group {
  list-style: none;
}
form.wpp_feps_form li.wpp_feps_row_wrapper {
  list-style: none;
}
form.wpp_feps_form .wpp_feps_row_wrapper .qq-upload-list {
  margin: 0;
  list-tyle-type: none;
  padding-top: 15px;
}
form.wpp_feps_form .wpp_feps_row_wrapper .qq-upload-list .qq-upload-cancel {
  text-decoration: none;
  color: #A0A0A0;
  float: right;
}
form.wpp_feps_form div.qq-upload-drop-area {
  display: none !important;
}
form.wpp_feps_form span.images_limit {
  clear: both;
  float: right;
  right: 12px;
  top: 4px;
}
form.wpp_feps_form .qq-upload-list .qq-upload-size,
form.wpp_feps_form .qq-upload-list .wpp_upload_progress {
  height: 20px;
}
form.wpp_feps_form .qq-upload-list .qq-upload-size {
  display: block;
  clear: both;
  border: 1px solid #BFBDBD;
}
form.wpp_feps_form .qq-upload-list .wpp_upload_progress {
  background: #666666;
  display: block;
  float: left;
  text-align: right;
}
form.wpp_feps_form .qq-upload-list .wpp_upload_progress_text {
  font-size: 11px;
  /* fixed height to fit into progress bar wrapper */
  display: block;
  float: left;
  line-height: 20px;
  margin: 0 4px;
}
form.wpp_feps_form .qq-upload-list .wpp_upload_progress .wpp_upload_progress_text {
  float: right;
  color: #FFF;
  display: block;
}
form.wpp_feps_form .qq-uploader li {
  margin: 0 10px 10px 0;
  padding: 0;
}
form.wpp_feps_form .qq-uploader li.qq-upload-success {
  display: inline;
}
form.wpp_feps_form ul.feps_property_input_fields .qq-upload-button {
  background: none repeat scroll 0 0 #DDDDDD;
  border: 1px solid #BBBBBB;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  font-size: 1.1em;
  margin-bottom: 5px;
  text-align: center;
  width: 101px;
}
form.wpp_feps_form .qq-upload-failed-text {
  display: none;
}
form.wpp_feps_form ul.feps_user_input_fields,
form.wpp_feps_form ul.feps_property_input_fields {
  margin: 0;
  clear: both;
}
ul.feps_user_input_fields li.wpp_feps_row_wrapper,
ul.feps_property_input_fields li.wpp_feps_row_wrapper,
ul.feps_user_input_fields li.wpp_feps_input_wrapper {
  list-style: none;
  list-style-type: none;
}
ul.feps_property_input_fields li.wpp_feps_row_wrapper.wpp_checkbox input.wpp_checkbox {
  float: left;
  position: relative;
  top: 7px;
}
ul.feps_property_input_fields li.wpp_feps_row_wrapper.wpp_checkbox label span.description {
  float: none;
}
ul.feps_user_input_fields li.wpp_feps_row_wrapper {
  background: #EBEBEB;
}
ul.feps_property_input_fields label span.the_title,
ul.feps_user_input_fields label span.the_title {
  font-weight: bold;
}
ul.feps_property_input_fields label span.description {
  float: right;
}
ul.feps_property_input_fields label {
  margin-bottom: 1px;
}
ul.feps_user_input_fields input[type="text"] {
  width: 20em;
}
ul.feps_property_input_fields textarea {
  min-height: 100px;
}
ul.feps_property_input_fields textarea,
ul.feps_property_input_fields input[type="text"],
ul.feps_user_input_fields input[type="text"],
ul.feps_user_input_fields input[type="password"] {
  display: block;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 97%;
}
ul.feps_property_input_fields select {
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #DDDDDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  -mox-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  -khtml-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  color: #888888;
  padding: 3px;
  width: 100%;
}
ul.feps_property_input_fields .description {
  font-weight: normal;
}
.wpp_row_view.wpp_feps_row ul.wpp_overview_data > li {
  margin: 0;
  width: auto;
}
.wpp_row_view.wpp_feps_row ul.wpp_overview_data > li.actions ul {
  overflow: hidden;
  margin: 0;
}
.wpp_feps_form .wpp_feps_ajax_message {
  display: block;
  float: left;
  margin-right: 10px;
  text-align: right;
}
/* FEPS Styles End */
#wp-admin-bar-wpp_approve_property {
  background: #CF982D;
}
#wp-admin-bar-wpp_approve_property a {
  color: #FFFFFF;
}
/* WPP Sorter and Pagination Begin {*/
.wpp_pagination_slider_wrapper .wpp_pagination_back,
.wpp_pagination_slider_wrapper .wpp_pagination_forward {
  width: 8%;
  height: 16px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
}
.wpp_sorter_options {
  float: right;
}
.properties_pagination.wpp_top_pagination,
.properties_pagination.wpp_bottom_pagination {
  margin-bottom: 1em;
}
.wpp_sorter_options .wpp_sortable_link.wpp_sorted_element {
  background: none repeat scroll 0 0 #D36E09;
  color: #1C1711;
}
.wpp_sorter_options .wpp_sortable_link {
  background: none repeat scroll 0 0 #2F2F2F;
  border-radius: 6px 6px 6px 6px;
  color: #CCCCCC;
  cursor: pointer;
  margin-left: 6px;
  padding: 1px 4px;
}
.wpp_ui .wpp_pagination_slider_wrapper .wpp_pagination_forward {
  float: right;
}
.wpp_pagination_slider_wrapper .wpp_pagination_back {
  float: left;
}
.wpp_ui .wpp_pagination_slider.ui-slider-horizontal {
  background: none repeat scroll 0 0 #DDDDDD;
  border: 1px solid #606060;
  height: 8px;
  width: 75%;
  margin: 0 auto;
  box-shadow: inset 0 0 5px grey;
  -moz-box-shadow: inset 0 0 5px grey;
  -webkit-box-shadow: inset 0 0 5px grey;
}
.wpp_pagination_slider_status {
  min-height: 35px;
}
.wpp_pagination_slider .slider_page_info {
  height: 15px;
  position: absolute;
  top: -31px;
  left: -3px;
  display: none;
}
.wpp_property_overview_shortcode,
.wpp_slider_pagination {
  position: relative;
}
.wpp_property_overview_shortcode .ajax_loader {
  position: absolute;
  z-index: 10;
  width: 80px;
  height: 80px;
  margin: 0 0 0 -40px;
  border: 1px solid #606060;
  background: #dddddd url("images/ajax-loader-po.gif") center center no-repeat;
  top: 100px;
  left: 50%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  display: none;
}
.wpp_ui .wpp_pagination_slider.ui-slider-horizontal .ui-slider-handle {
  border: 1px solid #848484;
  box-shadow: 0 0 2px lightgrey;
  -moz-box-shadow: 0 0 2px lightgrey;
  -webkit-box-shadow: 0 0 2px lightgrey;
  height: 15px;
  width: 15px;
  margin-left: -8px;
  top: -4px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#848484));
  background-image: -webkit-linear-gradient(top, #ffffff, #848484);
  background-image: -moz-linear-gradient(top, #ffffff, #848484);
  background-image: -o-linear-gradient(top, #ffffff, #848484);
  background-image: -ms-linear-gradient(top, #ffffff, #848484);
  background-image: linear-gradient(top, #ffffff, #848484);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#848484');
}
.wpp_ui .wpp_pagination_slider.wpp_slider_loading .ui-slider-handle {
  background-image: url("images/ajax-loader-sm.gif");
  background-repeat: no-repeat;
  background-position: center center;
}
/* WPP Sorter and Pagination End} */
.wpp_agent_info_list dt {
  float: left;
  display: table-cell;
  padding-right: 5px;
}
.wpp_agent_info_list dd {
  display: table-cell;
}
.wpp_agent_info_list dd .wpp_agent_attribute_link {
  position: relative;
  left: -3px;
}
.property_widget_block li span.value {
  display: block;
}
.property_widget_block li span.attribute {
  display: block;
  color: #A3A2A2;
  float: left;
  margin-right: 5px;
}
.property_widget_block ul {
  margin: 0;
  padding: 0;
}
.wpp_slideshow_global_wrapper .nivo-caption span {
  display: block;
  font-size: 0.5em;
}
.wpp_google_maps_attribute_row_directions_link {
  height: 30px;
  border-top: 1px solid #E0E0E0;
  font-size: 0.9em;
  margin-top: 5px;
  padding-top: 4px;
}
/* Must use ID on these elements to prevent themes unintentionally conflicting the styles */
#infowindow table.wpp_google_maps_infobox_table,
#infowindow table.wpp_google_maps_infobox_table td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 13px;
}
#infowindow table.wpp_google_maps_infobox_table td.wpp_google_maps_left_col {
  padding-right: 15px;
}
#infowindow table.wpp_google_maps_infobox_table td.wpp_google_maps_right_col {
  padding: 0;
}
#infowindow .wpp_google_maps_attribute_row_property_title {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 10px;
}
#infowindow table.wpp_google_maps_infobox_table img {
  position: static;
}
#infowindow table.wpp_google_maps_infobox_table td {
  vertical-align: top;
  padding-left: 3px;
  padding-right: 1px;
}
#infowindow ul.infobox_child_property_list,
#infowindow ul.wpp_google_maps_infobox {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0px;
}
#infowindow ul.wpp_google_maps_infobox li.wpp_google_maps_attribute_row,
#infowindow ul.infobox_child_property_list .infobox_child_property {
  list-style: none;
  line-height: 22px;
  overflow: auto;
  margin: 0;
  padding: 0;
}
#infowindow ul.wpp_google_maps_infobox li.wpp_google_maps_attribute_row {
  border-bottom: 1px solid #F1F1F1;
}
#infowindow ul.wpp_google_maps_infobox li.wpp_google_maps_attribute_row:hover {
  background: #F5F3ED;
}
#infowindow ul.wpp_google_maps_infobox li.wpp_google_maps_attribute_row.wpp_fillter_element,
#infowindow ul.infobox_child_property_list li.infobox_child_property.wpp_fillter_element {
  border-width: 0;
  height: 10px;
  background: transparent !important;
}
#infowindow ul.wpp_google_maps_infobox .wpp_google_maps_attribute_row span.attribute {
  display: block;
  float: left;
  margin: 0 10px 0 4px;
  width: 85px;
}
ul.wpp_google_maps_infobox .wpp_google_maps_attribute_row span.value {
  display: block;
  float: left;
  width: auto;
  margin-right: 10px;
}
#infowindow ul.infobox_child_property_list .infobox_child_property {
  margin-left: 5px;
}
#property_map img {
  position: absolute;
  max-width: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* Version 1.0 End */
#content .wpp_shortcode_search,
#content .wpp_shortcode_feps_menu {
  background: #F2F2F2;
  padding: 10px;
  position: relative;
}
.wpp_shortcode_feps_menu h5 {
  font-size: 1em;
  margin-bottom: 10px;
}
#content .wpp_shortcode_search ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#content .wpp_shortcode_search ul li {
  margin-bottom: 4px;
}
#content .wpp_shortcode_search ul label {
  width: 150px;
  display: block;
  float: left;
}
#content .wpp_shortcode_search ul li.submit {
  text-align: right;
  padding: 5px;
  width: auto !important;
}
#content .wpp_shortcode_search ul li.submit .wpp_search_button {
  margin: 0;
}
#content .wpp_shortcode_feps_menu h5 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1em;
}
#content .wpp_shortcode_feps_menu li h5 {
  font-weight: normal;
}
#content .wpp_shortcode_feps_menu ul {
  margin: 0;
  list-style-position: inside;
}
#content .wpp_shortcode_feps_menu li.wpp_feps_filter {
  list-style: none;
}
#content .shortcode_featured_properties dl,
#content .shortcode_featured_properties dd,
#content .shortcode_featured_properties dt {
  margin: 0;
}
#content .shortcode_featured_properties ul li dl {
  margin: 4px;
  padding: 4px;
  height: 1em;
}
#content .shortcode_featured_properties ul li dt {
  float: left;
  font-size: 0.8em;
  font-weight: normal;
  padding-left: 5px;
  padding-top: 3px;
}
#content .shortcode_featured_properties ul li dd {
  float: right;
  padding-right: 5px;
}
#content .shortcode_featured_properties ul li dt,
#content .big_featured_property ul li dd {
  display: block;
}
#content .big_featured_property ul {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#content .big_featured_property ul li {
  display: table-cell;
  width: 33%;
}
#content .big_featured_property ul li dl {
  font-size: 1.3em;
  background: none repeat scroll 0 0 #767676;
  color: #FFFFFF;
  margin: 4px;
  padding: 4px;
  height: 1em;
  location: all;
}
#content .big_featured_property ul li dt {
  color: #D6D6D6;
  float: left;
  font-size: 0.8em;
  font-weight: normal;
  padding-left: 5px;
  padding-top: 3px;
}
#content .big_featured_property ul li dd {
  float: right;
  padding-right: 5px;
}
#content .big_featured_property ul li dt,
#content .big_featured_property ul li dd {
  display: block;
}
.wpp_featured_properties_shortcode {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wpp_featured_properties_shortcode li.wp-caption {
  display: inline;
  float: left;
}
.shortcode_featured_properties ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}
.shortcode_featured_properties ul li span {
  float: left;
  font-weight: bold;
  text-align: left;
  width: 90px;
}
.shortcode_featured_properties ul li p {
  float: left;
  margin-bottom: 5px;
  text-align: left;
  width: 60px;
}
input.wpp_search_input_field_min,
input.wpp_search_input_field_max {
  width: 40px;
}
#container.floorplan_container {
  margin: 0 -270px 0 0;
}
#container.floorplan_container #content {
  margin: 0 300px 0 20px;
}
#container.building_container {
  margin: 0 -270px 0 0;
}
#container.building_container #content {
  margin: 0 300px 0 20px;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
/*** PROPERTY STATS ***/
#property_stats.overview_stats,
.wpp_property_stats.overview_stats {
  border-top: 1px dashed #CFCBCB;
  clear: both;
  margin-bottom: 15px;
}
#property_stats.overview_stats dt,
#property_stats.overview_stats dd,
.wpp_property_stats.overview_stats dt,
.wpp_property_stats.overview_stats dd {
  display: block;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
#property_stats.overview_stats dt,
.wpp_property_stats.overview_stats dt {
  clear: left;
  float: left;
  font-weight: bold;
  width: 150px;
  padding-left: 15px;
}
#property_stats.overview_stats dd,
.wpp_property_stats.overview_stats dd {
  border-bottom: 1px dashed #CFCBCB;
  padding-left: 165px;
}
#property_stats.overview_stats dd.alt,
.wpp_property_stats.overview_stats dd.alt {
  background: #eeeeee;
}
ul#property_stats.list,
ul.wpp_property_stats.list {
  margin: 15px 0;
  list-style-position: inside;
  list-style-type: none;
}
ul#property_stats.list li,
ul.wpp_property_stats.list li {
  padding: 10px 0;
  border-bottom: 1px dashed #CFCBCB;
  clear: both;
}
ul#property_stats.list li.alt,
ul.wpp_property_stats.list li.alt {
  background: none repeat scroll 0 0 #EEEEEE;
}
ul#property_stats.list li .attribute,
ul.wpp_property_stats.list li .attribute {
  display: block;
  float: left;
  padding-left: 15px;
  font-weight: bold;
  width: 150px;
}
/*** END PROPERTY STATS ***/
#primary .sidebar_property_thumbnail img {
  border: 5px solid #DFDFDF;
  float: left;
  margin-top: 5px;
  margin: 0 9px 9px 0;
}
#primary .property_widget_block li p {
  margin: 0;
}
#primary .property_widget_block ul {
  clear: left;
}
/*
  Properties Widgets
*/
.wpp_child_properties_widget .property_widget_block p.title,
.wpp_other_properties_widget .property_widget_block p.title,
.wpp_latest_properties_widget .property_widget_block p.title,
.wpp_featured_properties_widget .property_widget_block p.title {
  margin-bottom: 3px;
}
.wpp_child_properties_widget .property_widget_block,
.wpp_other_properties_widget .property_widget_block,
.wpp_latest_properties_widget .property_widget_block,
.wpp_featured_properties_widget .property_widget_block {
  clear: both;
  margin-bottom: 10px;
}
.wpp_child_properties_widget img,
.wpp_other_properties_widget img,
.wpp_latest_properties_widget img,
.wpp_featured_properties_widget img {
  margin-right: 5px;
}
.wpp_search_properties_widget ul.wpp_search_elements,
.wpp_child_properties_widget .property_widget_block ul.wpp_widget_attribute_list,
.wpp_other_properties_widget .property_widget_block ul.wpp_widget_attribute_list,
.wpp_latest_properties_widget .property_widget_block ul.wpp_widget_attribute_list,
.wpp_featured_properties_widget .property_widget_block ul.wpp_widget_attribute_list {
  margin-left: 0px;
  margin-right: 0;
  padding-top: 0;
}
.wpp_child_properties_widget .property_widget_block li,
.wpp_other_properties_widget .property_widget_block li,
.wpp_latest_properties_widget .property_widget_block li,
.wpp_featured_properties_widget .property_widget_block li {
  border-bottom: 1px dashed #CDCDCD;
  color: #434141;
  display: block;
  padding: 2px 0;
  width: 100%;
}
.wpp_search_properties_widget .wpp_search_elements {
  clear: both;
  list-style-type: none;
  margin: 0;
}
.wpp_search_properties_widget .wpp_search_elements li {
  margin-bottom: 10px;
  text-align: left;
}
.wpp_search_properties_widget .wpp_search_elements .search_input_block {
  float: left;
}
.wpp_search_properties_widget .wpp_search_elements .search_input_block input {
  width: 50px;
}
.wpp_search_properties_widget .wpp_search_elements li label {
  float: left;
  width: 85px;
}
.wpp_gallery_widget br {
  display: none !important;
}
.wpp_gallery_widget {
  float: left;
  margin: 0;
  padding: 0;
}
.wpp_gallery_widget img.wpp_gallery_widget_image {
  max-width: 100%;
  border: 5px solid #DFDFDF;
  margin: 0 9px 9px 0;
}
/*
  Property Results View
*/
.wpp_row_view {
  margin-top: 10px;
}
.wpp_row_view div.property_div {
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-box-shadow: 0px 1px 4px #C1C1C1;
  -moz-box-shadow: 0px 1px 4px #C1C1C1;
  -webkit-box-shadow: 0px 1px 4px #C1C1C1;
  background: none repeat scroll 0 0 #FFFFFF;
  margin-bottom: 10px;
  padding: 1%;
  position: relative;
  width: 98%;
}
.wpp_row_view .property_div div.wpp_overview_right_column,
.wpp_row_view .property_div div.wpp_overview_left_column {
  vertical-align: top;
}
.wpp_row_view .property_div .wpp_overview_left_column {
  display: block;
}
.wpp_feps_row .wpp_overview_feps_column {
  background-color: #F7F7F7;
  padding: 10px 8px;
  font-size: 1em;
}
#content .wpp_feps_row .wpp_overview_feps_column ul {
  margin: 0;
}
div.wpp_overview_feps_column ul,
.wpp_row_view .property_div div.wpp_overview_feps_column .feps_action {
  padding: 0;
  display: block;
}
div.wpp_overview_feps_column ul {
  margin-bottom: 0;
  list-style-type: none;
}
.wpp_row_view .property_div div.wpp_overview_feps_column ul.feps_action li.actions {
  width: auto;
  white-space: nowrap;
  float: right;
}
.wpp_row_view .property_div div.wpp_overview_feps_column ul.feps_action > li {
  margin: 0;
}
.wpp_row_view .property_div div.wpp_overview_feps_column li.actions ul {
  display: block;
  padding-left: 0;
}
.wpp_row_view .property_div div.wpp_overview_feps_column ul.feps_action > li:first-child {
  margin-left: 0;
}
.wpp_row_view .property_div div.wpp_overview_feps_column ul.feps_action > li,
.wpp_row_view .property_div div.wpp_overview_feps_column ul.feps_action li.actions ul li {
  width: auto;
  float: left;
  clear: none;
  margin-left: 10px;
}
.wpp_row_view .child_properties {
  clear: both;
  display: block;
  margin-right: 10px;
  padding-top: 15px;
}
.wpp_row_view .child_properties * {
  vertical-align: middle;
}
.wpp_row_view .child_properties .property_child_title {
  padding: 5px 10px 5px 5px;
  text-align: left;
  width: 150px;
}
.wpp_row_view .child_properties .property_child_title a {
  color: #707070;
  font-weight: normal;
}
.wpp_row_view .child_properties .property_child_title a:hover {
  color: orange;
  text-decoration: underline;
}
.wpp_row_view .property_image img {
  border: 6px solid #F5F5F5;
  width: auto;
}
.wpp_row_view .property_image .property_overview_thumb {
  background: none repeat scroll 0 0 #EFEFEF;
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.wpp_row_view ul.wpp_overview_data li {
  margin-bottom: 7px;
}
.wpp_row_view ul.wpp_overview_data {
  list-style-type: none;
  padding-left: 5px;
}
.wpp_row_view ul.wpp_overview_data .property_title {
  font-size: 1.4em;
}
.wpp_row_view .property_title a {
  color: #9C1209;
  text-decoration: none;
}
.wpp_row_view ul.wpp_overview_data .property_price {
  color: #666363;
  display: block;
  font-size: 18px;
  height: 25px;
  margin-top: 10px;
  padding-left: 35px;
  text-decoration: none;
}
.wpp_row_view ul.wpp_overview_data .property_phone_number {
  background: url("images/phone_address.gif") no-repeat scroll left top transparent;
  color: #666363;
  font-size: 18px;
  padding-left: 34px;
}
.wpp_row_view ul.wpp_overview_data .wpp_overview_list {
  padding-left: 34px;
}
.wpp_row_view ul.wpp_overview_data .property_location,
.wpp_row_view ul.wpp_overview_data .property_address {
  background: url("images/phone_address.gif") no-repeat scroll left -36px transparent;
  color: #666363;
  font-size: 15px;
  padding-left: 34px;
  line-height: 1.2em;
}
.wpp_row_view ul.wpp_overview_data .property_location a,
.wpp_row_view ul.wpp_overview_data .property_address a {
  color: #666363;
  display: block;
  padding-top: 6px;
  text-decoration: none;
}
.wpp_row_view ul.wpp_overview_data .property_location a:hover,
.wpp_row_view ul.wpp_overview_data .property_address a:hover {
  color: orange;
  text-decoration: underline;
}
.wpp_row_view ul.wpp_overview_data .property_tagline {
  color: #525252;
  font-size: 1em;
  line-height: 1.2em;
  padding-bottom: 15px;
  margin-bottom: 7px;
  border-bottom: 1px solid #EFEFEF;
}
.wpp_row_view .wpd_floorplans_title {
  font-size: 0.9em;
  font-weight: bold;
  padding-bottom: 5px;
}
.wpp_row_view .stats {
  display: none;
}
.wpp_row_view .child_properties table {
  magin-top: 15px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.wpp_row_view .child_properties table * {
  margin: 0;
  padding: 0;
}
.wpp_row_view .child_properties table td,
.wpp_row_view .child_properties table th {
  border-top: 1px solid #E7E7E7;
}
/* --- Supermap ---*/
.supermap_filter_wrapper,
.property_in_list {
  margin-bottom: 6px;
  width: 96%;
}
.map_filters {
  display: none;
  margin-bottom: 0px;
  line-height: 12px;
}
.class_wpp_supermap_elements {
  padding: 10px;
}
.super_map_list .map_filters ul {
  list-style: none outside none;
  margin: 0;
}
.super_map_list .map_filters ul li {
  margin: 0;
}
.hide_filter {
  text-align: center;
}
.super_map_list input {
  margin: 5px 0;
}
.super_map_list input[type="text"] {
  padding: 5px 5%;
  width: 90%;
}
.super_map,
.super_map_list {
  height: 550px;
}
.super_map {
  float: right;
  width: 65%;
}
.super_map.no_sidebar {
  width: 100%;
}
.super_map .gmnoprint img {
  background: none !important;
}
#content .super_map img {
  max-width: none;
}
input.wpp_supermap_input_field_min,
input.wpp_supermap_input_field_max {
  width: 40px;
}
.super_map_list select {
  margin-bottom: 0;
  max-width: 96%;
}
.super_map_list {
  float: left;
  overflow-y: scroll;
  overflow-h: hidden;
  width: 35%;
  position: relative;
}
.map_filters #search_loader,
.super_map_list .search_loader {
  display: none;
  float: right;
  margin-top: 8px;
  right: 0;
  top: 0;
  padding-left: 18px;
  width: 42px;
  height: 13px;
  font-size: 10px;
  color: #888888;
  background: url(images/ajax-loader.gif) center left no-repeat;
}
.super_map_list .show_more {
  position: relative;
  text-align: center;
  background: none repeat scroll 0 0 #DAE0FF;
  cursor: pointer;
}
.super_map_list .show_more .search_loader {
  display: none;
  height: auto;
  margin: 0;
  position: absolute;
  margin: 5px;
}
.super_map_list ul.property_in_list_items {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  font-size: 0.9em;
  position: relative;
}
.super_map_list ul.property_in_list_items > li {
  background: transparent;
  list-style-type: none;
  display: block;
  margin: 0;
}
.super_map_list ul.property_in_list_items > li span.attribute {
  font-weight: bold;
}
.super_map_list ul.property_in_list_items > li.supermap_list_title span {
  color: #004893;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
}
.super_map_list ul.property_in_list_items > li.supermap_list_thumb {
  padding: 5px 10px;
}
.super_map_list ul.property_in_list_items > li.supermap_list_thumb span {
  display: inline-block;
}
.super_map_list ul.property_in_list_items > li.supermap_list_view_property {
  color: #004893;
  font-size: 1em;
  cursor: pointer;
  text-decoration: underline;
}
#no_properties {
  background: #FF737A;
}
/* --- Pagination ---*/
.clear {
  clear: both;
  margin: -1px 0 0 0;
  padding: 0;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}
.properties-handling {
  position: relative;
}
.properties-handling .ajax_loader {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 18px;
  width: 42px;
  height: 24px;
  font-size: 10px;
  color: #888888;
  background: url(images/ajax-loader.gif) center left no-repeat;
}
.properties_pagination a.nav,
.properties_pagination ul li {
  float: left;
}
.properties_pagination a.nav {
  width: 60px;
}
.properties_pagination a.page_button {
  width: 20px;
}
.properties_pagination a.nav,
.properties_pagination a.page_button {
  display: block;
  padding: 2px 0;
  border: 1px solid #CCCCCC;
  text-decoration: none;
  margin-right: 6px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.properties_pagination a:hover {
  color: #0066CC;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) inset;
}
.properties_pagination a:hover.disabled,
.properties_pagination a:hover.selected {
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.properties_pagination ul,
.properties_sorter {
  display: block;
  margin: 10px 0 0 0;
  padding: 0;
}
.properties_pagination ul {
  margin: 0 !important;
}
.properties_pagination ul li {
  list-style: none;
}
.properties_pagination a.page_button.selected {
  cursor: default;
  background-color: #e4e4e4;
}
.properties_pagination a.nav.disabled {
  background-color: #e4e4e4;
  cursor: default;
}
.properties_sorter select {
  margin: 0;
  border: 1px solid #CCCCCC;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.wpp_sortable_dropdown option {
  margin-right: 10px;
}
.properties_sorter label,
.sort_by,
.sort_order {
  height: 24px;
  margin-right: 6px !important;
}
.properties_sorter label {
  line-height: 23px;
}
.sort_order {
  display: inline-block;
  width: 22px;
  height: 23px;
  cursor: pointer;
  vertical-align: bottom;
}
.sort_order.ASC {
  background: url(images/sort.png) 0 0 no-repeat;
}
.sort_order.DESC {
  background: url(images/sort.png) -22px 0 no-repeat;
}
.nivoSlider {
  position: relative;
}
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
}
.nivoSlider a.nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 60;
  display: none;
}
.nivo-slice {
  display: block;
  position: absolute;
  z-index: 50;
  height: 100%;
}
.nivo-box {
  display: block;
  position: absolute;
  z-index: 5;
}
.nivo-caption {
  position: absolute;
  font-size: 2em;
  padding: 4px;
  left: 0px;
  top: 0px;
  height: 58px;
  bottom: 0px;
  background: #000;
  color: #fff;
  opacity: 0.99;
  width: 100%;
  z-index: 89;
}
.nivo-caption p {
  padding: 5px;
  margin: 0;
}
.nivo-caption a {
  display: inline !important;
}
.nivo-html-caption {
  display: none;
}
.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 99;
  cursor: pointer;
  background: url("images/arrows.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  display: block;
  height: 30px;
  text-indent: -9999px;
  width: 30px;
}
.nivo-prevNav {
  left: 15px;
}
.nivo-directionNav a.nivo-nextNav {
  background: url("images/arrows.png") no-repeat scroll -30px 0 transparent;
  right: 15px;
}
.nivo-controlNav a {
  background: url("images/bullets.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  display: block;
  float: left;
  height: 10px;
  margin-right: 3px;
  text-indent: -9999px;
  position: relative;
  z-index: 99;
  cursor: pointer;
  padding: 4px;
  text-align: center;
}
.nivo-controlNav a.active {
  background-position: -10px 0;
}
/* Different Specific DOM elements */
.true-checkbox-image {
  width: 15px;
  height: 15px;
  background: url("images/true-checkbox-image.png") no-repeat scroll 0 0 transparent;
  float: left;
}
.wpp_supermap_attribute_row .true-checkbox-image {
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.wpp_google_maps_attribute_row .true-checkbox-image {
  position: relative;
  top: 3px;
}
/* Global Slideshow Begin */
.wpp_slideshow_global_wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* Global Slideshow End*/
/* TwentyTen Specific */
#primary .wpp_search_properties_widget ul.wpp_search_elements {
  margin: 0;
}
/* TwentyTen Specific */
