/**
 * New Styles starting with v2.3
 *
 */
.panel-grid {
  zoom: 1;
}
.panel-grid:before {
  content: '';
  display: block;
}
.panel-grid:after {
  content: '';
  display: table;
  clear: both;
}
.panel-grid-cell {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1em;
}
.panel-grid-cell .so-panel {
  zoom: 1;
}
.panel-grid-cell .so-panel:before {
  content: '';
  display: block;
}
.panel-grid-cell .so-panel:after {
  content: '';
  display: table;
  clear: both;
}
.panel-grid-cell .panel-last-child {
  margin-bottom: 0;
}
.panel-grid-cell .widget-title {
  margin-top: 0;
}
.panel-row-style {
  zoom: 1;
}
.panel-row-style:before {
  content: '';
  display: block;
}
.panel-row-style:after {
  content: '';
  display: table;
  clear: both;
}
/* Main styles
----------------------------------- */
/* WP Property overview shortcode */
.wpp_property_overview_shortcode {
  /* Property Pagination */
  /* Property Pagination */
  /* View results */
  /* View results */
}
.wpp_property_overview_shortcode .properties_pagination {
  margin-bottom: 10px;
}
.wpp_property_overview_shortcode .properties_pagination .wpp_pagination_slider_status {
  margin-top: 5px;
  margin-bottom: 10px;
}
.wpp_property_overview_shortcode .properties_pagination .wpp_pagination_slider_status .wpp_sorter_options {
  padding-left: 25px;
}
.wpp_property_overview_shortcode .properties_pagination .wpp_pagination_slider_status .wpp_sorter_options .wpp_sort_by_text {
  padding-right: 5px;
}
.wpp_property_overview_shortcode .properties_pagination .wpp_pagination_slider_status .wpp_sorter_options .wpp_sortable_link {
  cursor: pointer;
}
.wpp_property_overview_shortcode .properties_pagination ul.property-overview-navigation {
  margin: 5px 0 10px;
  padding: 0px;
  list-style: outside none none;
}
.wpp_property_overview_shortcode .properties_pagination ul.property-overview-navigation li {
  display: inline-block;
  padding: 0 5px;
  border: none;
}
.wpp_property_overview_shortcode .properties_pagination ul.property-overview-navigation li.pages {
  padding: 0;
}
.wpp_property_overview_shortcode .properties_pagination ul.property-overview-navigation li a {
  text-decoration: none;
  padding-left: 6px;
  padding-right: 6px;
}
.wpp_property_overview_shortcode .properties_pagination ul.property-overview-navigation li ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}
.wpp_property_overview_shortcode .properties_pagination .pagination-loadmore {
  text-align: center;
}
.wpp_property_overview_shortcode .properties_pagination .pagination-loadmore button.wpp_loadmore_button {
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
}
.wpp_property_overview_shortcode .all-properties .property_div {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: -3px;
  padding: 0 10px;
  vertical-align: top;
  min-width: 138px;
  width: 25%;
}
.wpp_property_overview_shortcode .all-properties .property_div .wpp_overview_left_column {
  margin: 0 auto 5px;
  max-width: 100%;
}
.wpp_property_overview_shortcode .all-properties .property_div .wpp_overview_left_column .property_overview_thumb {
  border: none;
  padding: 0;
  margin: 0;
}
.wpp_property_overview_shortcode .all-properties .property_div .wpp_overview_left_column .property_overview_thumb img {
  max-width: 100%;
  height: auto;
}
.wpp_property_overview_shortcode .all-properties .property_div .wpp_overview_right_column .wpp_overview_data {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wpp_property_overview_shortcode .all-properties .property_div .wpp_overview_right_column .wpp_overview_data li {
  list-style: none;
  margin: 0;
}
.wpp_property_overview_shortcode .all-properties .property_div .wpp_overview_right_column .wpp_overview_data li.property_title a {
  font-weight: bold;
}
/* WP Property overview shortcode */
/* WP Property search widget */
.wpp_search_properties_widget .wpp_shortcode_search_form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wpp_search_properties_widget .wpp_shortcode_search_form ul li {
  margin: 0;
  list-style: none;
}
.wpp_search_properties_widget .wpp_shortcode_search_form ul li.wpp_search_form_element {
  margin: 0 0 10px;
}
.wpp_search_properties_widget .wpp_shortcode_search_form ul li.wpp_search_form_element .wpp_search_group_title,
.wpp_search_properties_widget .wpp_shortcode_search_form ul li.wpp_search_form_element .wpp_search_label {
  display: block;
  font-weight: 600;
  margin: 0 0 5px;
}
.wpp_search_properties_widget .wpp_shortcode_search_form ul li.wpp_search_form_element input {
  margin: 0;
}
.wpp_search_properties_widget .wpp_shortcode_search_form ul li.wpp_search_form_element input.wpp_range_input {
  display: inline-block;
  width: 47%;
  margin-right: -3px;
}
.wpp_search_properties_widget .wpp_shortcode_search_form ul li.wpp_search_form_element label {
  display: inline-block;
}
.wpp_search_properties_widget .wpp_shortcode_search_form ul li.wpp_search_form_element .wpp_dash {
  display: inline-block;
  text-align: center;
  width: 6%;
  margin-right: -3px;
}
/* WP Property search widget */
/* Property MAP */
.property_map_wrapper #infowindow .wpp_google_maps_attribute_row_property_title,
#property_map #infowindow .wpp_google_maps_attribute_row_property_title {
  margin-bottom: 5px;
  font-weight: bold;
}
.property_map_wrapper #infowindow table.wpp_google_maps_infobox_table,
#property_map #infowindow table.wpp_google_maps_infobox_table {
  border: none;
}
.property_map_wrapper #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_left_col,
#property_map #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_left_col {
  border: none;
  padding: 0;
}
.property_map_wrapper #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_left_col a img,
#property_map #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_left_col a img {
  max-width: 100%;
}
.property_map_wrapper #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_right_col,
#property_map #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_right_col {
  border: none;
  padding: 0 0 0 10px;
}
.property_map_wrapper #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_right_col .wpp_google_maps_infobox,
#property_map #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_right_col .wpp_google_maps_infobox {
  margin: 0;
  padding: 0;
  list-style: none;
}
.property_map_wrapper #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_right_col .wpp_google_maps_infobox li,
#property_map #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_right_col .wpp_google_maps_infobox li {
  list-style: none;
}
.property_map_wrapper #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_right_col .wpp_google_maps_infobox li .attribute,
#property_map #infowindow table.wpp_google_maps_infobox_table .wpp_google_maps_right_col .wpp_google_maps_infobox li .attribute {
  padding-right: 5px;
}
/* Property MAP */
/* Gallery widget */
.wpp_gallery_widget .sidebar_gallery_item {
  margin-bottom: 10px;
}
.wpp_gallery_widget .sidebar_gallery_item a img {
  max-width: 100%;
}
/* Gallery widget */
