/**
 * New Styles starting with v2.3
 *
 */
.wpp_property_overview_shortcode .wpp_property_view_result div.property_div {
  max-width: 32%;
  background: #FFF;
  float: left;
  margin: 0 10px 20px 0;
}
.wpp_property_overview_shortcode .wpp_property_view_result div.property_div div.wpp_overview_right_column {
  margin-left: 0 !important;
}
.wpp_property_overview_shortcode .wpp_property_view_result div.property_div div.wpp_overview_left_column {
  display: block;
  width: 100% !important;
}
.wpp_property_overview_shortcode .wpp_property_view_result div.property_div div.wpp_overview_left_column img {
  width: 100% !important;
  height: auto !important;
}
.panel-grid {
  zoom: 1;
}
.panel-grid:before {
  content: '';
  display: block;
}
.panel-grid:after {
  content: '';
  display: table;
  clear: both;
}
.panel-grid-cell {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1em;
}
.panel-grid-cell .so-panel {
  zoom: 1;
}
.panel-grid-cell .so-panel:before {
  content: '';
  display: block;
}
.panel-grid-cell .so-panel:after {
  content: '';
  display: table;
  clear: both;
}
.panel-grid-cell .panel-last-child {
  margin-bottom: 0;
}
.panel-grid-cell .widget-title {
  margin-top: 0;
}
.panel-row-style {
  zoom: 1;
}
.panel-row-style:before {
  content: '';
  display: block;
}
.panel-row-style:after {
  content: '';
  display: table;
  clear: both;
}
